:root,
#app {


  
  --bg-dark:          oklch(15% 0.010 268);
  --bg:               oklch(20% 0.010 268);
  --bg-light:         oklch(25% 0.010 268);
  
  --panel-bg:         oklch(30% 0.015 273); 
  --chip-bg:          oklch(from var(--panel-bg) calc(l - 0.025) c h); 
  --popup-bg:         oklch(from var(--panel-bg) calc(l + 0.025) c h); //oklch(30% 0.022 270); 
  --btn-bg:           oklch(from var(--panel-bg) calc(l - 0.055) c h);

  --accent:           oklch(35.558% 0.12502 322.71);



  --border:           oklch(from var(--panel-bg) calc(l - 0.025) c h); 

  --radius-small:     5px;
  --radius:           10px; 
  --radius-large:     20px;



  --text:             oklch(90% 0 0); 
  --text-muted:       oklch(75% 0 0); 

  --text-size-small:  11px;
  --text-size:        13px;
  --text-size-large:  15px;

  --shadow:           0px 2px 1px -1px rgba(20, 20, 20, .12), 0px 1px 1px 0px rgba(20, 20, 20, .06), 0px 1px 3px 0px rgba(20, 20, 20, .04);



  --danger:           oklch(85% 0.150 015);
  --warn:             oklch(85% 0.150 080);
  --ok:               oklch(85% 0.150 165);
  --info:             oklch(85% 0.150 230);

}