@use "graph.mixins" as mixins;

#toolbar {
  display: grid;
  grid-template-columns: minmax(200px, 1.1fr) minmax(300px, 1fr) auto;
  gap: 12px;
  align-items: center;
  padding: 10px 25px;
  background: var(--bg-panel);
}

#toolbar-left,
#toolbar-center,
#toolbar-right {
  min-width: 0;
}

#toolbar-right {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.chip-row {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.layer-pill {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  background: var(--bg-chip);
  border-radius: var(--radius-small);
  font-size: 12px;
  color: var(--text-main);
  cursor: pointer;
  user-select: none;
}

#btn-refresh {
  border-color: var(--accent-100);
  background: var(--accent-300);

  &:hover,
  &:active {
    border-color: var(--accent);
    background: var(--accent-100);
  }
}

#toolbar-debug {
  display: flex;
  gap: 0px;

  button {
    border-color: var(--accent-300);
    background: var(--accent-200);

    &:hover,
    &:active {
      border-color: var(--accent-200);
      background: var(--accent-100);
    }
  }
  #btn-dev-tools {
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
  }
  #btn-reload-css {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

}


#search-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0;

  #search-input {
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--bg-chip-100)
  }
  #search-go {
    width: 50px;
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
  }

  #search-suggest {
    position: absolute;
    top: calc(100% + 5px);
    width: calc(100% - 50px);
    left: 0;
    right: 85px;
    max-height: 260px;

    overflow: auto;

    background: var(--bg-panel);

    border: 1px solid var(--border-100);
    border-radius: var(--radius-small);
    z-index: 500;

    @include mixins.scrollbar();

  }

  #search-suggest.is-visible {
    display: block;
  }

  .suggest-item {
    padding: 7px 9px;
    border-bottom: 1px solid var(--border);
    cursor: pointer;

    &:hover,
    &:active {
      background: var(--bg-chip-100);
      border-bottom: 1px solid color-mix(
        in srgb, 
        var(--accent), 
        transparent 25%
      );
    }
  }

  .suggest-meta {
    display: block;
    color: var(--text-soft);
    font-size: 11px;
  }

}






