@use "graph.mixins" as mixins;

#editor-anki {

  // general style
  html,
  body {
    background: var(--panel-bg) !important;
    color: var(--text) !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body {
    font-family: "Bahnschrift", "Trebuchet MS", "Segoe UI", sans-serif !important;
  }

  a {
    color: var(--link) !important;
  }

  .editing-area,
  .label-container {
    background: var(--color-transparent) !important;
  }

  button {
    border-radius: var(--radius) !important;
    border: 1px solid var(--btn-border) !important;
    background: var(--btn-bg) !important;
    color: var(--text) !important;
    padding: 8px 10px;
    font-size: 13px;
    box-shadow: var(--shadow) !important;
    cursor: pointer;
    font-weight: 600;

    &:hover,
    &:active,
    &:focus-visible {
      border: 1px solid var(--btn-border-hover) !important;
      background: var(--btn-bg-hover) !important;
    }
  }

  .field-state .ajt-play-icon {
    padding-right: 22px;
  }

  .collapse-label {
    position: relative !important;
    display: grid !important;
    grid-template-areas: "select" !important;
    align-items: center !important;
    width: 100%;


    .collapse-badge {
      display: none !important;
    }

    .label-name {
      color: var(--text-muted);
      font-size: 11px !important;
      margin-left: 5px !important;
      grid-area: select;
    }

    &::after {
      content: "";
      grid-area: select;
      justify-self: end;
      width: 0.8em;
      height: 0.5em;
      background: var(--accent-bg-soft);
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      transition: transform .16s ease;
    }

    &[aria-expanded="false"]::after {
      transform: rotate(90deg);
      transform-origin: 50% 50%;
    }

  }

  .cloze,
  mark {
    background: var(--cloze-bg) !important;
    color: var(--text) !important;
  }

  .hidden {
    display: none !important;
  }

  #ajpc-graph-editor-web-controls {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    padding: 12px 8px 12px 20px;
    height: 59px;
    box-sizing: border-box;

    #ajpc-toolbar-debug {
      display: flex;
      gap: 0px;

      #ajpc-graph-editor-devtools,
      #ajpc-graph-editor-css-reload {
        border-color: var(--accent-border) !important;
        background: var(--accent-bg-soft) !important;
        box-shadow: var(--shadow) !important;

        &:hover,
        &:active {
          border-color: var(--accent-border) !important;
          background: var(--accent-bg-soft) !important;
        }
      }

      #ajpc-graph-editor-devtools {
        margin-right: 0;
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-right: none !important;
      }

      #ajpc-graph-editor-css-reload {
        margin-left: 0;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
      }
    }
  }

  .note-editor {
    height: calc(100% - 59px) !important;

    .editor-toolbar {
      background: var(--panel-bg) !important;
      border-color: var(--border-soft) !important;
      margin: 0 !important;
      padding: 3px 10px 3px 20px !important;

      [data-command="_ajpc_browser_graph_toggle_prio"],
      [data-command="_ajpc_browser_graph_toggle_graph"],
      [data-command="_ajpc_browser_graph_toggle"],
      [data-command="ajpc_ai_enrich_all"],
      [data-command="ajpc_ai_enrich_mnemonic"],
      [data-command="ajpc_ai_enrich_sent"]
       {
        display: none !important;
      }

      .button-group {
        button {
          border-radius: 0 !important;
          padding: 1px 3px !important;
          font-size: 12px !important;

          &:hover,
          &:active,
          &:focus-visible {
            background: var(--accent-bg-soft) !important;
          }

          &.ajpc-edge-first {
            border-top-left-radius: var(--radius-small) !important;
            border-bottom-left-radius: var(--radius-small) !important;
          }

          &.ajpc-edge-last {
            border-top-right-radius: var(--radius-small) !important;
            border-bottom-right-radius: var(--radius-small) !important;
          }
        }
      }
    }

    .scroll-area-relative {
      .scroll-area-wrapper {
        .scroll-area {
          @include mixins.scrollbar();
          direction: rtl;
          padding: 0 10px 10px 10px;
          left: 0;

          .d-flex {
            direction: ltr;
          }
        }
      }
    }

    .fields {
      border: 1px solid var(--border-soft) !important;
      border-radius: var(--radius) !important;
      background: var(--panel-bg-fade) !important;
      padding: 10px !important;

      .collapsible {
        padding: 0px !important;
      }

      .field-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        align-items: center;
        border: 1px solid var(--border);
        border-radius: var(--radius);
        background: var(--panel-bg-soft);
        padding: 5px 6px;
        font-size: 12px;

        .label-container {
          background: var(--color-transparent);

          .collapse-badge {
            display: none !important;
          }

          .label-name {
            margin-bottom: 4px;
          }
        }

        .collapsible {
          .editor-field {
            border: none !important;
            box-shadow: none !important;
            outline: none;

            .editing-area {
              background: var(--chip-bg);
              border: 1px solid var(--chip-bg-border-soft);
              border-radius: var(--radius);

              &:hover,
              &:active,
              &:focus,
              &:focus-visible {

                border: 1px solid var(--accent-border);
                outline: none;
              }

              .CodeMirror-gutters {
                background-color: var(--color-transparent);
              }

              &>.collapsible.full-hide:not(.hidden)>.plain-text-input>.code-mirror>.CodeMirror {
                border-radius: var(--radius);
                background: var(--chip-bg);
              }

              &>.collapsible.full-hide:not(.hidden)>.rich-text-input {
                border-radius: var(--radius);
                background: var(--chip-bg-raised);
              }

              &.ajpc-pair-plain-rich>.collapsible.full-hide:not(.hidden)>.plain-text-input>.code-mirror>.CodeMirror {
                border-bottom-left-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
              }

              &.ajpc-pair-plain-rich>.collapsible.full-hide:not(.hidden)+.collapsible.full-hide:not(.hidden)>.rich-text-input {
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
              }

              &.ajpc-pair-rich-plain>.collapsible.full-hide:not(.hidden)>.rich-text-input {
                border-bottom-left-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
              }

              &.ajpc-pair-rich-plain>.collapsible.full-hide:not(.hidden)+.collapsible.full-hide:not(.hidden)>.plain-text-input>.code-mirror>.CodeMirror {
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
              }
            }




          }
        }

      }
    }
  }

  #ajpc-tag-wrapper {
    padding: 5px 20px !important;

    .collapsible {
      background: var(--color-transparent) !important;
      border: none !important;
      color: var(--text-muted);
      font-size: 12px !important;

      .tag-editor {
        background: var(--chip-bg) !important;
        border-radius: var(--radius) !important;
        border: 1px solid var(--border-soft) !important;
        padding: 5px 6px !important;
        margin: 0 0 10px 0 !important;
        color: var(--text) !important;
        font-size: 12px !important;
        font-weight: 400 !important;

        .tag {
          background: var(--panel-bg) !important;
          color: var(--text) !important;
          border: 1px solid var(--panel-bg-border) !important;
          padding: 0px 3px 0px 3px;
          font-size: 12px !important;
          border-radius: var(--radius) !important;
          box-shadow: none !important;
          cursor: pointer;

          &:hover,
          &:active,
          &:focus-visible {
            background: var(--btn-bg-hover) !important;
          }

        }
      }
    }
  }

  .floating {
    border-radius: var(--radius);

    .popover {
      padding: 0 !important;
      border: 1px solid var(--popup-border) !important;
      background: var(--popup-bg) !important;
      color: var(--text) !important;
      border-radius: var(--radius);

      .autocomplete-menu {
        @include mixins.scrollbar();
        border-radius: var(--radius);

        .autocomplete-item {
          border: none !important;
          border-bottom: 1px solid var(--popup-border) !important;
          padding: 7px 9px;

          &:hover {
            background: var(--chip-bg-raised-soft-alpha) !important;
            border: none !important;
            border-bottom: 1px solid var(--accent-bg-soft) !important;
          }

          &.selected {
            background: var(--accent-bg-soft) !important;
            border: none !important;
            border-bottom: 1px solid var(--accent-bg-soft) !important;
          }
        }
      }
    }

    .floating-arrow {
      .arrow {
        background: var(--popup-bg) !important;
      }
    }
  }

  .tooltip {

    .tooltip-arrow,
    .tooltip-inner {
      border: 1px solid var(--popup-border) !important;
      background: var(--popup-bg) !important;
      color: var(--text) !important;
    }
  }

}


