:root,
:root[data-theme="dark"] {
  //--------------------------------------------------------------------------------------------------------
  //  general UI
  //--------------------------------------------------------------------------------------------------------
   
  --canvas-bg-deep:                             oklch(15.0% 0.010 268);
  --canvas-bg-base:                             oklch(20.0% 0.010 268);
  --canvas-bg-soft:                             oklch(25.0% 0.010 268);

  //base ui
  --ui-surface-base:                            oklch(25.0% 0.020 280);    // UI bg
  --ui-surface-base-border:                     oklch(27.0% 0.020 280);    // UI border
  --ui-surface-card:                            linear-gradient(60deg, oklch(19.0% 0.020 280) 0%, oklch(21.0% 0.020 280) 100%);    // UI card bg 
  --ui-surface-card-border:                     oklch(22.0% 0.020 280);    // UI card border

  //form fields
  --field-surface:                              oklch(20.0% 0.020 280);    // input field bg
  --field-surface-alt:                          oklch(22.0% 0.020 280);    // input field alt bg
  --field-border-base:                          oklch(23.5% 0.020 280);    // input field border
  --field-border-interactive:                   oklch(35.5% 0.125 322.70 / 50%);    // input field border: focus + active + hover

  //buttons + interactive elements
  --control-bg:                                 linear-gradient(0deg, oklch(20.0% 0.020 280.00 / 99%) 0%,oklch(22.5% 0.020 280.00 / 99%) 100%);    // button maindesign bg
  --control-bg-interactive:                     linear-gradient(0deg, oklch(22.5% 0.025 280.00 / 99%) 0%,oklch(25.0% 0.025 280.00 / 99%) 100%);    // button maindesign bg: focus + active + hover
  --control-border:                             oklch(17.5% 0.020 280);    // button maindesign border 
  --control-border-interactive:                 oklch(20.0% 0.020 280);    // button maindesign border: focus + active + hover
  --control-bg-accent-inverted:                 linear-gradient(0deg, oklch(35.5% 0.125 322.70 / 30%) 0%,oklch(35.5% 0.125 322.70 / 40%) 100%);    // inverted accent buttons bg
  --control-bg-accent-inverted-interactive:     linear-gradient(0deg, oklch(35.5% 0.125 322.70 / 80%) 0%,oklch(35.5% 0.125 322.70 / 99%) 100%);    // inverted accent buttons bg
  --control-border-accent-inverted:             oklch(45.0% 0.125 322.70);    // inverted accent buttons border
  --control-border-accent-inverted-interactive: oklch(35.5% 0.125 322.70);    // inverted accent buttons border
  --control-bg-accent-glass:                    linear-gradient(0deg, oklch(35.5% 0.125 322.70 / 30%) 0%,oklch(35.5% 0.125 322.70 / 40%) 100%);    //
  --control-bg-accent-glass-interactive:        linear-gradient(0deg, oklch(35.5% 0.125 322.70 / 80%) 0%,oklch(35.5% 0.125 322.70 / 99%) 100%);    //
  --control-border-accent-glass:                oklch(45.0% 0.125 322.70);    //
  --control-border-accent-glass-interactive:    oklch(35.5% 0.125 322.70);    //
  
  //accent colors
  --accent-base:                                oklch(35.5% 0.125 322.70 / 99%);    // accent 
  --accent-active:                              oklch(35.5% 0.125 322.70 / 75%);    // active 
  --accent-border:                              oklch(35.5% 0.125 322.70 / 50%);    // hover + focus 
 
  //Glass overlays + ctx + modal dialog
  --glass-surface-bg:                           oklch(20.0% 0.020 280.00 / 10%); // glass panel bg
  --glass-surface-border:                       oklch(23.0% 0.020 280.00 / 80%); // glass panel border
  --glass-surface-divider:                      oklch(25.0% 0.000 280.00 / 80%); // glass panel divider
  
  --glass-surface-card:                         oklch(25.0% 0.020 280.00 / 50%); // glass card bg
  --glass-surface-card-border:                  oklch(25.0% 0.000 280.00 / 80%); // glass card border
  --glass-surface-card-input-disabled-bg:       oklch(20.0% 0.010 280.00 / 50%); // glass card disabled input bg
  --glass-surface-card-select-bg:               oklch(25.0% 0.020 280.00 / 50%); // glass card selection bg
  --glass-surface-card-input-bg:                oklch(25.0% 0.020 280.00 / 50%); // glass card input bg
  --glass-surface-card-input-border:            oklch(22.5% 0.020 280.00 / 80%); // glass card selection + input border

  --modal-backdrop-bg:                          oklch(12.0% 0.020 280.00 / 45%); // modal backdrop

  //search suggest + selection popups
  --menu-surface-bg:                            linear-gradient(30deg, oklch(19.0% 0.020 280) 0%, oklch(21.0% 0.020 280) 100%); // flyout bg (search suggest + selection popups)
  --menu-surface-bg-hover:                      oklch(37.5% 0.020 280.00 / 30%); // menu selection bg: focus + active + hover (search suggest + selection popups)
  --menu-divider:                               oklch(25.0% 0.000 280.00 / 80%); // menu selection divider (search suggest + selection popups)

  //text
  --ui-text-primary:      oklch(90% 0 0);
  --ui-text-secondary:    oklch(75% 0 0);
  --ui-link-hover:        oklch(45.0% 0.125 322.70); // link hover

  //element shadows
  --shadow-elevation-1: 
  oklch(0 0 0 / 12%) 0 26px 58px 0, 
  oklch(0 0 0 / 06%) 0 5px 14px 0;
  --shadow-elevation-2: 
  oklch(0 0 0 / 16%) 0 5px 6px -3px,
  oklch(0 0 0 / 12%) 3px 3px 4px 0,
  oklch(0 0 0 / 08%) 6px 8px 12px 8px;
  
  
  --shadow-depth-1: 
  oklch(0 0 0 / 12%) inset 0 2px 1px -1px, 
  oklch(0 0 0 / 06%) inset 0 1px 1px 0;
  --shadow-depth-2: 
  oklch(0 0 0 / 24%) inset 3px 6px 3px -3px,
  oklch(0 0 0 / 12%) inset 2px 2px 2px 0,
  oklch(0 0 0 / 08%) inset 2px 6px 9px 0;

}

:root[data-theme="light"] {
  //--------------------------------------------------------------------------------------------------------
  //  general UI
  //--------------------------------------------------------------------------------------------------------
   
  /*--canvas-bg-deep:                             oklch(75.0% 0.010 268);
  --canvas-bg-base:                             oklch(80.0% 0.010 268);
  --canvas-bg-soft:                             oklch(95.0% 0.010 268);*/

  //base ui
  --ui-surface-base:                            oklch(95.0% 0.020 280);    // UI bg
  --ui-surface-base-border:                     oklch(73.0% 0.020 280);    // UI border
  --ui-surface-card:                            linear-gradient(60deg, oklch(91.0% 0.020 280) 0%, oklch(89.0% 0.020 280) 100%);    // UI card bg 
  --ui-surface-card-border:                     oklch(78.0% 0.020 280);    // UI card border

  //form fields
  --field-surface:                              oklch(80.0% 0.020 280);    // input field bg
  --field-surface-alt:                          oklch(78.0% 0.020 280);    // input field alt bg
  --field-border-base:                          oklch(76.5% 0.020 280);    // input field border
  --field-border-interactive:                   oklch(64.5% 0.125 322.70 / 50%);    // input field border: focus + active + hover

  //buttons + interactive elements
  --control-bg:                                 linear-gradient(0deg, oklch(80.0% 0.020 280.00 / 99%) 0%,oklch(77.5% 0.020 280.00 / 99%) 100%);    // button maindesign bg
  --control-bg-interactive:                     linear-gradient(0deg, oklch(77.5% 0.025 280.00 / 99%) 0%,oklch(75.0% 0.025 280.00 / 99%) 100%);    // button maindesign bg: focus + active + hover
  --control-border:                             var(--ui-surface-base);    // button maindesign border 
  --control-border-interactive:                 var(--ui-surface-base);    // button maindesign border: focus + active + hover
  --control-bg-accent-inverted:                 linear-gradient(0deg, oklch(35.5% 0.125 322.70 / 30%) 0%,oklch(35.5% 0.125 322.70 / 40%) 100%);    // inverted accent buttons bg
  --control-bg-accent-inverted-interactive:     linear-gradient(0deg, oklch(35.5% 0.125 322.70 / 80%) 0%,oklch(35.5% 0.125 322.70 / 99%) 100%);    // inverted accent buttons bg
  --control-border-accent-inverted:             oklch(45.0% 0.125 322.70);    // inverted accent buttons border
  --control-border-accent-inverted-interactive: oklch(35.5% 0.125 322.70);    // inverted accent buttons border
  --control-bg-accent-glass:                    linear-gradient(0deg, oklch(35.5% 0.125 322.70 / 30%) 0%,oklch(35.5% 0.125 322.70 / 40%) 100%);    //
  --control-bg-accent-glass-interactive:        linear-gradient(0deg, oklch(35.5% 0.125 322.70 / 80%) 0%,oklch(35.5% 0.125 322.70 / 99%) 100%);    //
  --control-border-accent-glass:                oklch(45.0% 0.125 322.70);    //
  --control-border-accent-glass-interactive:    oklch(35.5% 0.125 322.70);    //
  
  //accent colors
  --accent-base:                                oklch(35.5% 0.125 322.70 / 99%);    // accent 
  --accent-active:                              oklch(35.5% 0.125 322.70 / 75%);    // active 
  --accent-border:                              oklch(35.5% 0.125 322.70 / 50%);    // hover + focus 
 
  //Glass overlays + ctx + modal dialog
  --glass-surface-bg:                           oklch(99.0% 0.020 280.00 / 50%); // glass panel bg
  --glass-surface-border:                       oklch(73.0% 0.020 280.00 / 80%); // glass panel border
  --glass-surface-divider:                      oklch(75.0% 0.000 280.00 / 80%); // glass panel divider
  
  --glass-surface-card:                         oklch(75.0% 0.020 280.00 / 50%); // glass card bg
  --glass-surface-card-border:                  oklch(75.0% 0.000 280.00 / 80%); // glass card border
  --glass-surface-card-input-disabled-bg:       oklch(80.0% 0.010 280.00 / 50%); // glass card disabled input bg
  --glass-surface-card-select-bg:               oklch(75.0% 0.020 280.00 / 50%); // glass card selection bg
  --glass-surface-card-input-bg:                oklch(75.0% 0.020 280.00 / 50%); // glass card input bg
  --glass-surface-card-input-border:            oklch(77.5% 0.020 280.00 / 80%); // glass card selection + input border

  --modal-backdrop-bg:                          oklch(12.0% 0.020 280.00 / 45%); // modal backdrop

  //search suggest + selection popups
  --menu-surface-bg:                            linear-gradient(30deg, oklch(80.0% 0.020 280) 0%, oklch(81.0% 0.020 280) 100%); // flyout bg (search suggest + selection popups)
  --menu-surface-bg-hover:                      oklch(70.5% 0.020 280.00 / 30%); // menu selection bg: focus + active + hover (search suggest + selection popups)
  --menu-divider:                               oklch(65.0% 0.000 280.00 / 80%); // menu selection divider (search suggest + selection popups)

  //text
  --ui-text-primary:      oklch(5% 0 0);
  --ui-text-secondary:    oklch(50% 0 0);
  --ui-link-hover:        oklch(45.0% 0.125 322.70); // link hover

  //element shadows
  --shadow-elevation-1:
  oklch(0 0 0 / 12%)0px 2px 1px -1px, 
  oklch(0 0 0 / 06%) 0px 1px 1px 0px, 
  oklch(0 0 0 / 04%) 0px 1px 3px 0px;
  --shadow-elevation-2: 
  oklch(0 0 0 / 09%) 0px 2px 1px, 
  oklch(0 0 0 / 09%) 0px 4px 2px, 
  oklch(0 0 0 / 09%) 0px 8px 4px; 
  
  
  --shadow-depth-1: 
  oklch(0 0 0 / 12%) inset 0px 2px 1px -1px , 
  oklch(0 0 0 / 06%) inset  0px 1px 1px 0px , 
  oklch(0 0 0 / 04%) inset  0px 1px 3px 0px ;
  --shadow-depth-2: 
  oklch(0 0 0 / 24%) inset 3px 6px 3px -3px ,
  oklch(0 0 0 / 12%) inset  2px 2px 2px 0px ,
  oklch(0 0 0 / 08%) inset  2px 6px 9px 0px ;

}

:root {
  --font-size-sm: 11px;
  --font-size-md: 13px;
  --font-size-lg: 15px;

  //semantic colors
  --status-danger:      oklch(85% 0.150 015);
  --status-warning:     oklch(85% 0.150 080);
  --status-success:     oklch(85% 0.150 165);
  --status-info:        oklch(85% 0.150 230);

  //border radius
  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 20px;

  //--------------------------------------------------------------------------------------------------------
  //  helpers
  //--------------------------------------------------------------------------------------------------------
  --ui-text-transparent:    oklch(0% 0 0 / 0%);
  --ui-color-transparent:   oklch(0% 0 0 / 0%);
  --ui-mask-solid:          oklch(0% 0 0);

  //--------------------------------------------------------------------------------------------------------
  //  development specific
  //--------------------------------------------------------------------------------------------------------
  --dev-control-bg:               linear-gradient(0deg, oklch(75.0% 0.168 95 / 30%) 0%,oklch(77.5% 0.168 95 / 35%) 100%);   // DEV Button bg 
  --dev-control-border:           oklch(60.0% 0.168 95);                                                                        // DEV Button border
  --dev-control-bg-hover:         linear-gradient(0deg, oklch(75.0% 0.168 95 / 80%) 0%,oklch(77.5% 0.168 95 / 85%) 100%);   // DEV Button bg: focus + active + hover
  --dev-control-border-hover:     oklch(70.0% 0.168 95);                                                                        // DEV Button border: focus + active + hover
  //--------------------------------------------------------------------------------------------------------

  //--------------------------------------------------------------------------------------------------------
  //I dont know what this shit does, but I'm afraid to break stuff so I keep it until i can identifiy it.
  //--------------------------------------------------------------------------------------------------------
/* refs:
   * classes: .btn, .primary
   * ids: #ctx-picker, #graph-empty
   * status: used
   */
  --border-dark: oklch(68.29% 0.30219 336.091);
  /* refs:
   * ids: #editor-anki
   * elements: mark
   * status: used
   */
  --cloze-bg: oklch(87.101% 0.20239 119.476);
  /* refs:
   * js: graph.city.ui.ctx.js
   * py: graph_editor_embedded.py
   * status: used
   */
  --bg-chip-100: oklch(77.139% 0.12935 203.779);
  --bg-chip-200: oklch(66.851% 0.22121 142.869);
}
