:root,
#app {
  --bg-main:          #16181d; //Jez Black (dark)
  --bg-main-soft:     #22252e; //Jet Black (medium)
  
  --bg-panel:         #20232b; //Twilight Indigo (dark)
  --bg-panel-soft:    rgb(34, 37, 44); //Twilight Indigo (medium)

  --bg-chip:          #282c35; //
  --bg-chip-soft:     #262d3b; //Twilight Indigo (medium)

  --bg-btn:           #212a3b; //
  --bg-btn-rfs-border:#83601a; //
  --bg-btn-rfs:       #2d2210; //
  --bg-btn-soft:      #252e3d; //Twilight Indigo (medium)

  --text-main:        #dbdbdb; //Thistle (light)
  --text-soft:        #adadad; //Thistle (medium)

  --line:             #1f2027; //Dark Evergreen
  --accent:           #6247AA; //Deep Lilac
  --accent-light:     #A06CD5; //Lavender Purple
  --accent-lighter:   #C19EE0; //Wisteria

  --border:           #0d0e11; //Dark Evergreen
  --border-dark:      #0d0e11; //Dark Evergreen
  --border-light:     #323641; //Dark Evergreen

  --radius-small:     10px;
  --radius-medium:    20px; 
  --radius-large:     40px;

  --ok:               #6ee7b7;
  --warn:             #fbcb71;
  --danger:           #fb7185;


}

