:root,
#app {
  --bg-main:          #16181d; 
  --bg-main-100:      #16181d69; 

  --bg-panel:         #20232b; 
  --bg-panel-100:     #34394660; 
  --bg-panel-200:     #4d55686b; 

  --bg-chip:          #282c35; 
  --bg-chip-100:      #3e435080; 
  --bg-chip-200:      #17191f54; 

  --bg-popup:         #2d313d; 

  --bg-btn:           #282c35;  
  --bg-btn-soft:      color-mix(
                        in srgb, 
                        var(--bg-btn), 
                        var(--accent) 25%
                      ); 

  --border:           #17181a; 
  --border-100:       #232427; 
  --border-200:       #37393d83; 

  --accent:           #6247AA;
  --accent-100:       #6147aab2; 
  --accent-200:       #6147aa80; 
  --accent-300:       #6147aa49; 

  --text-main:        #dbdbdb; 
  --text-soft:        #adadad; 


  --radius-small:     10px;
  --radius-medium:    20px; 
  --radius-large:     40px;

  --ok:               #6ee7b7;
  --warn:             #fbcb71;
  --danger:           #fb7185;




  --bg-btn-rfs-border:#83601a; 
  --bg-btn-rfs:       #2d2210; 
  --line:             #1f2027; //Dark Evergreen
  --accent-light:     #A06CD5; //Lavender Purple
  --accent-lighter:   #C19EE0; //Wisteria
  --bg-main-soft:     #22252e; //Jet Black (medium)
}

