:root,
#app {
  --bg-main:          #171a24; //Jez Black (dark)
  --bg-main-soft:     #0B2933; //Jet Black (medium)
  
  --bg-panel:         #102B3F; //Twilight Indigo (dark)
  --bg-panel-soft:    #25325A; //Twilight Indigo (medium)

  --bg-chip:          #0b2033; //
  --bg-chip-soft:     #25325A; //Twilight Indigo (medium)

  --bg-btn:           #0b2033; //
  --bg-btn-soft:      #25325A; //Twilight Indigo (medium)

  --text-main:        #E2CFEA; //Thistle (light)
  --text-soft:        #CDBCD5; //Thistle (medium)

  --line:             #062726; //Dark Evergreen
  --accent:           #6247AA; //Deep Lilac
  --accent-light:     #A06CD5; //Lavender Purple
  --accent-lighter:   #C19EE0; //Wisteria

  --border:           #062726; //Dark Evergreen
  --border-dark:      #062726; //Dark Evergreen
  --border-light:     #394140; //Dark Evergreen

  --radius-small:     10px;
  --radius-medium:    20px; 
  --radius-large:     40px;

  --ok:               #6ee7b7;
  --warn:             #fbcb71;
  --danger:           #fb7185;


}

