.action-ajpc-graph .icon::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  padding-left:5px;
  background-color: var(--icon-color);
  mask: var(--ajpc-graph-icon) no-repeat center;
  -webkit-mask: var(--ajpc-graph-icon) no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
}
